.total-wrapper {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    
    .total {
        .total-title {
            font-size: calc(1rem + 1vmin);
            color: $gray;
            font-weight: 400;
        }
        .total-money {
            font-size: calc(1.25rem + 2vmin);
            cursor: pointer;
            transition: 200ms ease;
        }
    }

    .add-payment {
        font-size: calc(.75rem + 1vmin);
    }

}

.history-wrapper {
    overflow: hidden;
    height: 400px;
    width: 100%;

    .history-item-wrapper {
        height: 100px;

        .history-item {
            display: flex;
            align-items: center;
            gap: .5rem;
            border-radius: 6px;
            justify-content: space-between;
            padding: 1rem .5rem;
        }

        .item-date {
            color: $gray;
            margin-bottom: 3px;
        }

        .item-reason {
            font-size: calc(1rem + 1vmin);
        }
        .item-total {
            font-size: calc(1rem + 1vmin);
            transition: 200ms ease;
            cursor: pointer;
        }

    }

    .item-add {
        background: linear-gradient(90.12deg, rgba(29, 228, 73, 0.3) 0.09%, rgba(64, 200, 30, 0.3) 98.92%);
    }
    .item-substract {
        background: linear-gradient(90.12deg, rgba(228, 29, 29, 0.3) 0.09%, rgba(200, 30, 30, 0.3) 98.92%);
    }

}
.complete-history {
    overflow-y: auto !important;

}
.complete-history-wrapper {
    display: grid;
    grid-template-rows:50px auto 100px ;
    height: 100vh;
    align-items: center;
    padding: 2vw;
    
    .history-wrapper {
        max-height: 100%;
        min-height: 400px;
        height: 100%;
    }
    .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .primary-btn {
        max-width: 100%;
        width: 100%;

    }
}
.top-wrapper {
    display: grid;
    gap: 1rem;
    background-color: transparent !important;    
    padding: 0 !important;

    .top-item-wrapper {
        background-color: transparent;
    }
    
    .top-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem .5rem;

        .item-main {
            color: $accent;
        }

        .item-main-total {
            font-size: 1.25rem;
        }
    }


}

.add-wrapper {
    background-color: #00000080;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding: 1vw;
    z-index: 99999999999;
    
    .add-container {
        padding: 1rem;
        background-color: $contrast;
        border-radius: 8px;
    
        .add-form {
            display: grid;
            gap: 1.5rem;
            
            .input {
                width: 100%;

                input {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.15rem;
                    outline: 2px solid $accent;
                    border-radius: 4px;
                    padding: 1em;
                    text-align: center;
                    transition: 200ms ease;

                }
                input:focus {
                    background-color: $black;
                }

            
            }
            .input:first-child {
                display: flex;
                
                gap: .5rem;

                #currency {
                    outline: none;
                    max-width: 75px;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.15rem;
                    outline: 2px solid $accent;
                    border-radius: 4px;
                    text-align: center;
                    transition: 200ms ease;

                    .currency-item {
                        background-color: $contrast;
                        outline: none;
                        border: none;
                    }
                    .currency-item:hover {
                        background-color: $accent;
                    }
                }
            }


            .input-differ {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                
                .differ {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.15rem;
                    outline: 2px solid $accent;
                    border-radius: 4px;
                    padding: 1rem;
                    cursor: pointer;
                    text-align: center;
                    transition: 200ms ease;
                }
                .differ-active {
                    background-color: $accent;
                }
                .differ:hover {
                    background-color: $accent;
                }

            }

            .add-payment {
                outline: none;
                border: none;
                background-color: transparent;
                color: white;
                font-size: 1.15rem;
                background-color: $accent;
                border-radius: 4px;
                padding: 1rem;
                cursor: pointer;
                text-align: center;
                transition: 200ms ease;
            }
            .add-payment:hover {
                opacity: .8;
            }
            .add-payment:active,.differ:active {
                scale: .9;
            }

        }

        .section-title {
            margin-bottom: 1rem;
            font-weight: 400;
            text-align: center;
            font-size: 1.25rem;
        }

    }
}

.total-money:active, .item-total:active {
    scale: 0.8;
}