.sources {
    display: grid;
    gap: 1rem;
    grid-template-rows: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calc(120px + 1rem);
    position: relative;
    max-height: 300px;

    .source {
        background-color: $light;
        transition: 200ms ease;
        cursor: pointer;
        display: flex;
        padding: .5rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;

        .remove-source {
            display: grid;
            place-items: center;
            width: 25px;
            height: 25px;

            i {
                cursor: pointer;
                color: $gray;
                transition: 200ms ease;
            }
            i:active {
                scale: .9;
            }
            i:hover {
                color: rgb(197, 33, 33);
            }
        }

        .source-name {
            color: $gray;
        }

        .source-total {
            color: $accent;
            font-size: 1.75rem;
        }
    }
    .no-source {
        background-color: transparent;
        text-align: center;
        justify-content: center;
        font-weight: 300;
        padding: 1rem;
    }

    .add-source {
        width: 100%;
        
    }

}