.top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    gap: .5rem;
        
    .top-item {
        border-radius: 6px;
        background-color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: .5rem;
        padding: 1rem .1rem;
        
        .secondary-text {
            color: white;
            line-height: 18px;
            font-size: 1.25rem;
        }

        .primary-text {
            color: #5735E1;
            font-size: 1.45rem;
        }

    }

    .top-expense {
        background-color: #f9bb1ee7;

    }
    .top-source {
        background-color: #a9e549e3;
    }
}