@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #121212;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden !important;
  max-width: 100% !important;
}

#root {
  display: grid;
  grid-template-rows: 200px;
  gap: 5rem;
  max-width: 500px;
  min-height: 95vh;
  width: 100%;
  overflow-x: hidden !important;
}

.section {
  position: relative;
  padding: 0.5rem;
}
.section .section-container {
  background-color: #202020;
  border-radius: 8px;
  padding: 0.5em;
}
.section .section-title {
  position: absolute;
  color: rgba(255, 255, 255, 0.2509803922);
  font-size: 5rem;
  font-weight: 400;
  top: -10px;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section:first-child {
  margin-top: 0;
  padding: 0;
}

.primary-btn {
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1em;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(90deg, #294ECE 0%, #4789AD 100%);
  font-size: 1.15rem;
  transition: 200ms ease;
}

.primary-btn:hover {
  background-position: 50%;
}

.primary-btn:active {
  scale: 0.95;
}

.accent {
  color: #3CBBE3;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3CBBE3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3CBBE3;
}

.header {
  text-align: center;
  position: relative;
  padding: 0;
  display: grid;
  grid-template-rows: 150px 50px;
}
.header span {
  display: inline-block;
}
.header .letter-wrapper {
  overflow: hidden;
}
.header #header-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .total {
  position: relative;
  z-index: 1;
  padding-top: calc(0.1rem + 2vw);
}
.header .total .total-title {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5019607843);
  font-weight: 400;
}
.header .total .total-money {
  font-size: calc(1.75rem + 3vmin);
  cursor: pointer;
  transition: 200ms ease;
  color: white;
}
.header .add-payment {
  font-size: calc(0.75rem + 1vmin);
  margin: 0 auto;
  padding: 1em 2em;
  transition: 200ms ease;
}
.header .add-payment:active {
  scale: 0.9;
}

.history-wrapper {
  display: grid;
  grid-template-rows: 25px auto;
}
.history-wrapper .section-optional {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5019607843);
  padding: 1vw;
  text-align: right;
  font-weight: 400;
  transition: 200ms ease;
}
.history-wrapper .section-optional:hover {
  color: #3CBBE3;
}

.history {
  width: 100%;
  display: grid;
  gap: 1rem;
  overflow: hidden;
  height: 500px;
  overflow-y: scroll;
  padding: 1vw;
}
.history .history-section {
  position: relative;
  padding: 0;
}
.history .history-section .history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  z-index: 999;
  background-color: #202020;
  padding: 0.5rem 0 0.25rem 0;
  width: 100%;
}
.history .history-section .history-header .history-section-title {
  font-weight: 400;
}
.history .history-section .history-header .history-section-total {
  color: #3CBBE3;
}
.history .history-section .history-items {
  padding: 0;
  display: grid;
  outline: 1px solid rgba(255, 255, 255, 0.5019607843);
  gap: 1rem;
  max-height: 100%;
  padding: 1vw;
  border-radius: 4px;
}
.history .history-item-wrapper .currency-wrapper {
  background-color: transparent;
}
.history .history-item-wrapper .currency-wrapper .source-name {
  color: rgba(255, 255, 255, 0.5019607843);
  text-align: right;
}
.history .history-item-wrapper .history-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  transition: 200ms ease;
  position: relative;
}
.history .history-item-wrapper .history-item:hover {
  box-shadow: 0 2px 3px 2px rgba(255, 255, 255, 0.1882352941);
}
.history .history-item-wrapper .history-item-context {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-100%, -50%);
  background-color: rgb(23, 23, 23);
  width: 50%;
  height: 70px;
  border-radius: 5px 0 0 5px;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease;
}
.history .history-item-wrapper .history-item-context span {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
}
.history .history-item-wrapper .history-item-context span i {
  font-size: 1.25rem;
  transition: 200ms ease;
}
.history .history-item-wrapper .history-item-context span:hover i {
  color: #3CBBE3;
}
.history .history-item-wrapper .history-item-context span:active i {
  scale: 0.9;
}
.history .history-item-wrapper .history-item-context-active {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: all;
}
.history .history-item-wrapper .item-date {
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 3px;
}
.history .history-item-wrapper .item-reason {
  font-size: calc(1rem + 1vmin);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40vmin;
}
.history .history-item-wrapper .item-total {
  font-size: calc(1rem + 1vmin);
  transition: 200ms ease;
  cursor: pointer;
}
.history .item-add {
  background: linear-gradient(90deg, rgba(102, 181, 40, 0.67) -7.68%, rgba(65, 238, 103, 0.85) 100%);
}
.history .item-substract {
  background: linear-gradient(90deg, rgba(168, 38, 57, 0.73) -8.8%, rgba(255, 55, 75, 0.74) 100%);
}

.complete-history-wrapper {
  display: grid;
  grid-template-rows: 50px auto 100px;
  height: 100vh;
  align-items: center;
  padding: 1vw;
}
.complete-history-wrapper .history {
  height: 100%;
  max-height: 100%;
}
.complete-history-wrapper .history .history-item-wrapper {
  height: auto;
}
.complete-history-wrapper .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.complete-history-wrapper .primary-btn {
  max-width: 100%;
  width: 100%;
}

.top-wrapper {
  display: grid;
  gap: 1rem;
  background-color: transparent !important;
  padding: 0 !important;
}
.top-wrapper .top-item-wrapper {
  background-color: transparent;
}
.top-wrapper .top-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.top-wrapper .top-item .item-main {
  color: #3CBBE3;
}
.top-wrapper .top-item .item-main-total {
  font-size: 1.25rem;
}

.add-wrapper {
  background-color: rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 1rem;
  z-index: 99999999999;
}
.add-wrapper .add-container {
  padding: 1rem;
  background-color: #202020;
  border-radius: 8px;
}
.add-wrapper .add-container .add-form {
  display: grid;
  gap: 1.5rem;
}
.add-wrapper .add-container .add-form .input {
  width: 100%;
}
.add-wrapper .add-container .add-form .input input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  outline: 2px solid #3CBBE3;
  border-radius: 4px;
  padding: 1em;
  text-align: center;
  transition: 200ms ease;
}
.add-wrapper .add-container .add-form .input input:focus {
  background-color: #121212;
}
.add-wrapper .add-container .add-form .input:first-child {
  display: flex;
  gap: 0.5rem;
}
.add-wrapper .add-container .add-form .input-differ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.add-wrapper .add-container .add-form .input-differ .differ {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  outline: 2px solid #3CBBE3;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 200ms ease;
}
.add-wrapper .add-container .add-form .input-differ .differ-active {
  background-color: #3CBBE3;
}
.add-wrapper .add-container .add-form .input-differ .differ:hover {
  background-color: #3CBBE3;
}
.add-wrapper .add-container .add-form .add-payment {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  background-color: #3CBBE3;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 200ms ease;
}
.add-wrapper .add-container .add-form .add-payment:hover {
  opacity: 0.8;
}
.add-wrapper .add-container .add-form .add-payment:active, .add-wrapper .add-container .add-form .differ:active {
  scale: 0.9;
}
.add-wrapper .add-container .section-title {
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
}

.select {
  outline: none;
  max-width: 75px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  outline: 2px solid #3CBBE3;
  border-radius: 4px;
  text-align: center;
  transition: 200ms ease;
}
.select .currency-item {
  background-color: #202020;
  outline: none;
  border: none;
}
.select .currency-item:hover {
  background-color: #3CBBE3;
}

#sources {
  max-width: 100%;
  padding: 1rem;
}

.total-money:active, .item-total:active {
  scale: 0.8;
}

.sources {
  display: grid;
  gap: 1rem;
  grid-template-rows: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: calc(120px + 1rem);
  position: relative;
  max-height: 300px;
}
.sources .source {
  background-color: #363636;
  transition: 200ms ease;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.sources .source .remove-source {
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
}
.sources .source .remove-source i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5019607843);
  transition: 200ms ease;
}
.sources .source .remove-source i:active {
  scale: 0.9;
}
.sources .source .remove-source i:hover {
  color: rgb(197, 33, 33);
}
.sources .source .source-name {
  color: rgba(255, 255, 255, 0.5019607843);
}
.sources .source .source-total {
  color: #3CBBE3;
  font-size: 1.75rem;
}
.sources .no-source {
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  padding: 1rem;
}
.sources .add-source {
  width: 100%;
}

.no-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}
.no-content h1 {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */