@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #121212;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  max-width: 600px;
  min-height: 100vh;
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  min-height: 95vh;
}

.section {
  display: grid;
  gap: 5px;
}
.section div {
  background-color: #1E1E1E;
  border-radius: 8px;
  padding: 0.5em;
}
.section .section-header {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  align-items: center;
}
.section .section-header .section-optional {
  cursor: pointer;
  font-size: 1rem;
  color: gray;
  transition: 200ms ease;
}
.section .section-header .section-optional:hover {
  color: #3CBBE3;
}
.section .section-title {
  font-size: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.primary-btn {
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1em;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(90deg, #294ECE 0%, #4789AD 100%);
  font-size: 1.15rem;
  background-size: 400%;
  background-position: 10%;
  transition: 200ms ease;
}

.primary-btn:hover {
  background-position: 50%;
}

.primary-btn:active {
  scale: 0.95;
}

.accent {
  color: #3CBBE3;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1E1E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3CBBE3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3CBBE3;
}

.total-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.total-wrapper .total .total-title {
  font-size: calc(1rem + 1vmin);
  color: rgba(255, 255, 255, 0.5019607843);
  font-weight: 400;
}
.total-wrapper .total .total-money {
  font-size: calc(1.25rem + 2vmin);
  cursor: pointer;
  transition: 200ms ease;
}
.total-wrapper .add-payment {
  font-size: calc(0.75rem + 1vmin);
}

.history {
  max-height: 500px;
  width: 100%;
  display: grid;
  gap: 1rem;
  overflow-x: hidden;
  overflow: scroll;
}
.history .history-section {
  position: relative;
  padding: 0;
}
.history .history-section .history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  z-index: 999;
  padding: 0.5rem;
  background-color: #1E1E1E;
}
.history .history-section .history-items {
  padding: 0;
  display: grid;
  outline: 1px solid rgba(255, 255, 255, 0.5019607843);
  max-height: 100%;
}
.history .history-item-wrapper {
  position: relative;
}
.history .history-item-wrapper .history-item-context {
  position: absolute;
  top: 60%;
  height: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100px;
  height: 50px;
  border-radius: 2px;
  background-color: #1E1E1E;
  transition: 200ms ease;
  text-align: center;
  opacity: 1;
  display: grid;
  place-items: center;
  position: none;
  color: red;
  cursor: pointer;
}
.history .history-item-wrapper .history-item-context:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.history .history-item-wrapper .history-item-context-active {
  transform: translate(-50%, -50%) scale(1);
}
.history .history-item-wrapper .currency-wrapper {
  background-color: transparent;
}
.history .history-item-wrapper .currency-wrapper .source-name {
  color: rgba(255, 255, 255, 0.5019607843);
  text-align: right;
}
.history .history-item-wrapper .history-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.25em 0.5rem;
  transition: 200ms ease;
}
.history .history-item-wrapper .history-item:hover {
  transform: translateY(2px);
}
.history .history-item-wrapper .item-date {
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 3px;
}
.history .history-item-wrapper .item-reason {
  font-size: calc(1rem + 1vmin);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.history .history-item-wrapper .item-total {
  font-size: calc(1rem + 1vmin);
  transition: 200ms ease;
  cursor: pointer;
}
.history .item-add {
  background: linear-gradient(90.12deg, rgba(29, 228, 73, 0.3) 0.09%, rgba(64, 200, 30, 0.3) 98.92%);
}
.history .item-substract {
  background: linear-gradient(90.12deg, rgba(228, 29, 29, 0.3) 0.09%, rgba(200, 30, 30, 0.3) 98.92%);
}

.complete-history-wrapper {
  display: grid;
  grid-template-rows: 50px auto 100px;
  height: 100vh;
  align-items: center;
  padding: 1vw;
}
.complete-history-wrapper .history {
  height: 100%;
}
.complete-history-wrapper .history .history-item-wrapper {
  height: auto;
}
.complete-history-wrapper .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.complete-history-wrapper .primary-btn {
  max-width: 100%;
  width: 100%;
}

.top-wrapper {
  display: grid;
  gap: 1rem;
  background-color: transparent !important;
  padding: 0 !important;
}
.top-wrapper .top-item-wrapper {
  background-color: transparent;
}
.top-wrapper .top-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.top-wrapper .top-item .item-main {
  color: #3CBBE3;
}
.top-wrapper .top-item .item-main-total {
  font-size: 1.25rem;
}

.add-wrapper {
  background-color: rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 1rem;
  z-index: 99999999999;
}
.add-wrapper .add-container {
  padding: 1rem;
  background-color: #1E1E1E;
  border-radius: 8px;
}
.add-wrapper .add-container .add-form {
  display: grid;
  gap: 1.5rem;
}
.add-wrapper .add-container .add-form .input {
  width: 100%;
}
.add-wrapper .add-container .add-form .input input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  outline: 2px solid #3CBBE3;
  border-radius: 4px;
  padding: 1em;
  text-align: center;
  transition: 200ms ease;
}
.add-wrapper .add-container .add-form .input input:focus {
  background-color: #121212;
}
.add-wrapper .add-container .add-form .input:first-child {
  display: flex;
  gap: 0.5rem;
}
.add-wrapper .add-container .add-form .input-differ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.add-wrapper .add-container .add-form .input-differ .differ {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  outline: 2px solid #3CBBE3;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 200ms ease;
}
.add-wrapper .add-container .add-form .input-differ .differ-active {
  background-color: #3CBBE3;
}
.add-wrapper .add-container .add-form .input-differ .differ:hover {
  background-color: #3CBBE3;
}
.add-wrapper .add-container .add-form .add-payment {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  background-color: #3CBBE3;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 200ms ease;
}
.add-wrapper .add-container .add-form .add-payment:hover {
  opacity: 0.8;
}
.add-wrapper .add-container .add-form .add-payment:active, .add-wrapper .add-container .add-form .differ:active {
  scale: 0.9;
}
.add-wrapper .add-container .section-title {
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
}

.select {
  outline: none;
  max-width: 75px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  outline: 2px solid #3CBBE3;
  border-radius: 4px;
  text-align: center;
  transition: 200ms ease;
}
.select .currency-item {
  background-color: #1E1E1E;
  outline: none;
  border: none;
}
.select .currency-item:hover {
  background-color: #3CBBE3;
}

#sources {
  max-width: 100%;
  padding: 1rem;
}

.total-money:active, .item-total:active {
  scale: 0.8;
}

.sources {
  display: grid;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}
.sources .source {
  background-color: #333837;
  transition: 200ms ease;
  outline: 2px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sources .source .remove-source {
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
}
.sources .source .remove-source i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5019607843);
  transition: 200ms ease;
}
.sources .source .remove-source i:active {
  scale: 0.9;
}
.sources .source .remove-source i:hover {
  color: rgb(197, 33, 33);
}
.sources .source .source-name {
  color: rgba(255, 255, 255, 0.5019607843);
}
.sources .source .source-total {
  color: #3CBBE3;
  font-size: 1.75rem;
}
.sources .no-source {
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  padding: 1rem;
}
.sources .source:hover {
  background-color: #1E1E1E;
  outline: 2px solid #333837;
}
.sources .add-source {
  width: 100%;
}

.no-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}
.no-content h1 {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */