@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$gray: #FFFFFF80;

$black: #121212;
$contrast: #1E1E1E;
$light: #333837;
$accent: #3CBBE3;

$ff-main: 'Montserrat', sans-serif;