@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$gray: #FFFFFF80;

$black: #121212;
$contrast: #202020;
$light: #363636;
$accent: #3CBBE3;
$gradient: linear-gradient(90deg, #294ECE 0%, #4789AD 100%);


$ff-main: 'Montserrat', sans-serif;